@import url('../../lib/bootstrap/css/bootstrap.min.css');
@import url('../../lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css');
@import url('../../css/bootstrap-icons.css');

body {
    font-family: Arial, sans-serif;
}

.card {
    text-align: center;
}

.table-container {
    margin-top: 20px;
}

.custom-btn-height {
    height: calc(2.50 * 2rem) !important;
    /* 2 times the default button height */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}