@import url('../../lib/bootstrap/dist/css/bootstrap.css');
@import url('../../lib/bootstrap-datepicker/css/bootstrap-datepicker.css');
@import url('../../css/bootstrap-icons.css');

//Global Styles

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: var(--buttonHoverColor);
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; // Prevent scroll bars
    /*    margin: 0; // Add this line
    padding: 0; // Add this line*/
}

.main-content {
    height: calc(100% - 50px);
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.admin-header-bg {
    background-color: var(--primaryColor) !important;
}

.icon-primary {
    margin-top: 15px;
    color: var(--primaryColor);
}

.primary-color {
    color: var(--primaryColor);
    display: block;
    margin-top: 10px;
}

button {
    background-color: #f9f9f9;
    border-radius: 10px;
    color: navy;
    box-shadow: 2px 2px 2px gray;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: navy !important; /* Navy on hover */
    color: white;
}

.label-left-align {
    font-size: 16px;
    margin-bottom: 2px;
    display: flex;
}

.custom-modal-header {
    font-size: 12px;
}

.custom-modal-body {
    font-size: 16px;
}

$component-width: 48vw;

.component {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    //width: 49vw !important;
    width: $component-width;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.admin-header-bg {
    background-color: var(--primaryColor) !important;
}

/*--------------------------- Header ---------------------------*/

.header {
    overflow: hidden;
    background-color: #11005c;
    margin-top: 0px !important;
    height: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: top;
    font-weight: bold;
    font-size: 2vw;
    color: white;
    margin-bottom: 6px;
    padding: 0;
}

.station {
    float: left;
}

#headerDate {
    color: white;
}

#headerLabel {
    color: white;
}

/*----------------------------Welcome------------------------------*/
.welcomeCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -5vw;
}

.welcomeMessage {
    color: navy;
    font-size: 5vw;
}

.scanSubmit {
    background-color: lightgray;
}

.welcomeCenter button:hover {
    background-color: #e2e2e2; /* Darker grey on hover */
}

.please {
    font-size: 25px;
}

/*.hideFromUser {
    position: absolute;
    left: -9999px;
}*/

/*--------------------------- Profile ---------------------------*/

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: white;
    padding: 10px !important;
    margin-left: 6px;
    text-align: center;
    color: navy;
    overflow: hidden;
    //width: 40vw;
    height: 38vh;
}

.prof-id {
    color: navy;
    font-size: 6vw;
    font-weight: bold;
    justify-content: center;
    margin: 0;
}

#profileImg {
    font-size: 5vw;
    justify-content: center;
}

/*------------------------TACSLog------------------------------*/
#schedule-box {
    padding: 7px;
    /*top right bottom left*/
    margin: 0px 0px 0px 0px !important;
    text-align: center;
    color: navy;
    overflow: hidden;
    //width: 49vw;
    height: 38vh;
}

#labels {
    font-size: 25px;
    /*top right bottom left*/
    padding: 2px;
}

#schedule-box h2 {
    font-weight: bold;
}

#schedule-box p {
    margin: 0;
    white-space: nowrap;
}

#schedule-box .row {
    background-color: #f2f2f2;
    margin: 0px 10px 5px 10px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#schedule-box .row div {
    flex-basis: 33.33%;
    padding: 5px;
}

/*First Row / Labels*/
#schedule-box #labels {
    font-weight: bold;
    text-decoration-line: underline;
    margin: 10px;
}


/* ------------------ Keypad ------------------- */

$keypad-width: 49vw; //Sets for input display and keypad
$keypad-height: 31vh; //Sets for keypad

/*Input Display*/
.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    width: $component-width;
    padding: 10px;
    font-size: 4vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 6px;
    margin-top: 6px;
}

#keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    align-items: center;
    width: $component-width;
    height: $keypad-height;
    margin: 6px 0px 0px 6px;
    padding: 6px;
}

#keypad button {
    //min-width: 80px;
    width: calc($component-width/3.25);
    height: calc($keypad-height/5);
    padding: 0px;
    font-size: 3vw;
    background-color: #f7f7f7;
    cursor: pointer;
    margin: 0px;
    justify-content: center;
    line-height: 1;
}

/*#keypad button:hover {
        background-color: navy;*/ /* Navy on hover */
/*color: white;
    }*/

/* ------ Bottom Row styling ------ */

/*0 Button */
#keypad button:nth-last-child(2) {
    grid-row: 4;
    grid-column: 2;
}

/*Back Arrow  Button*/
#keypad button:last-child {
    grid-row: 4;
    grid-column: 3;
    //font-size: 25px;
    //line-height: 0;
}



/*----------------- Buttons Component ---------------------*/

#button-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    padding: 5px;
    align-items: center;
    //width: 48vw;
    //height: var(--button-container-height);
    height: 36.7vh;
    /*top right bottom left*/
    //margin: 6px 6px 4px -15px;
    margin-top: 6px;
    margin-left: -1px;
    right: 0;
}

.clockButtons {
    line-height: 50%;
    text-align: center;
    overflow: hidden;
    margin: 0;
    margin-bottom: -5vh;
    margin-top: -5vh;
    border: none;
    font-size: 2.5vw;
    //height: calc(var(--button-container-height)/5.5);
    height: 100%;
    width: 100% /* Adjust button width based on container width */
}

#bt {
    grid-row: 1;
    grid-column: 1/3;
    margin-right: 20px;
}

#ol {
    grid-row: 1;
    grid-column: 3/5;
}

#il {
    grid-row: 2;
    grid-column: 1/3;
    margin-right: 20px;
}

#et {
    grid-row: 2;
    grid-column: 3/5;
}

#mv {
    grid-row: 3;
    grid-column: 2 / 4; /* Span across columns 2 and 3 */
}

#cancel-container {
    grid-area: 4 / 1 / 5 / 2;
}

#cancelBtn {
    background-color: red !important;
    color: white !important;
    font-size: 2.5vw;
    height: 8vh;
    margin-bottom: -3vh;
}

#cancelBtn:hover {
    background-color: #a90000 !important; /* Dark red on hover */
}

.confirm-container { /* Add a new container for the Confirm button */
    grid-area: 4 / 2 / 5 / 5; /* Span across columns 3 and 4 */
    /*    display: flex;
    justify-content: flex-end;*/
}

#confirm {
    background-color: #00a408;
    color: white !important;
    font-size: 2.5vw;
    height: 8vh;
    margin-bottom: -3vh;
}

#confirm:hover {
    background-color: #02750c !important; /* Dark green on hover */
}

/*--------------------------TopCodes----------------------------*/
#topCodesContainer {
    display: flex;
    //grid-template-columns: repeat(2, 1fr);
    //grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vw;
    justify-content: center;
    align-items: center;
    width: 99vw !important;
    height: 10vh;
    /*    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 45px;*/
    /*top right bottom left*/
    margin: 10px 2px 0px 4px;
    padding: 5px;
}

.topCodeButton {
    margin: 0;
    border: none;
    font-size: 3vw;
    line-height: 1;
    height: 100%;
    width: 100%;
}

.topCodesContainer button:hover {
    background-color: navy; /* Navy on hover */
    color: white;
}

/*------------------------- Footer ----------------------------*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 5vh;
    background-color: #11005c;
    margin-top: 2px !important;
    position: fixed;
}

/*.left 
    text-align: left;
}*/

#logo {
    border-radius: 0%;
    width: 12vw;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 6px;
}

#footerDate {
    color: white;
}

#footerLabel {
    color: white;
}
