@import url("../../lib/bootstrap/dist/css/bootstrap.css");
@import url("../../lib/bootstrap/dist/css/bootstrap.rtl.css");
@import url("../../lib/bootstrap/dist/css/bootstrap-grid.css");
@import url("../../lib/bootstrap/dist/css/bootstrap-reboot.css");
@import url("../../lib/bootstrap/dist/css/bootstrap-utilities.css");
@import url("../../lib/bootstrap-datepicker/css/bootstrap-datepicker.css");
@import url("../../css/bootstrap-icons.css");
:root {
  --fontFamily: "Inter", sans-serif;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --primaryColor: #333366;
  --darkPrimaryColor: #000028;
  --lightPrimaryColor: #333366;
  --buttonHoverColor: #E2EFFC;
  --secondaryColor: #333366;
  --background: white;
  --redColor: #EF0137;
  --myFont: "Inter";
  --inputBorder: 4px;
  --buttonBorder: 25px;
  --titleFontSize: 24px;
  --textFontSize: 14px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var(--buttonHoverColor);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  height: calc(100% - 50px);
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.admin-header-bg {
  background-color: var(--primaryColor) !important;
}

.icon-primary {
  margin-top: 15px;
  color: var(--primaryColor);
}

.primary-color {
  color: var(--primaryColor);
  display: block;
  margin-top: 10px;
}

button {
  background-color: #f9f9f9;
  border-radius: 10px;
  color: navy;
  box-shadow: 2px 2px 2px gray;
  font-weight: bold;
  border: none;
}

button:hover {
  background-color: navy !important; /* Navy on hover */
  color: white;
}

.label-left-align {
  font-size: 16px;
  margin-bottom: 2px;
  display: flex;
}

.custom-modal-header {
  font-size: 12px;
}

.custom-modal-body {
  font-size: 16px;
}

button {
  border-radius: 10px !important;
  color: navy;
  box-shadow: 2px 2px 2px gray;
  font-weight: bold;
  border: none;
}

button:hover {
  background-color: navy !important; /* Navy on hover */
  color: white;
}

.component {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.admin-header-bg {
  background-color: var(--primaryColor) !important;
}

.footer {
  height: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/*Input Display*/
.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  width: 24.6vw;
  padding: 10px;
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px gray;
  margin-left: 6px;
  margin-top: 10px;
}

#keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 24.6vw;
  height: var(--keypad-container-height);
  margin: 6px 0px 0px 6px;
  padding: 5px;
}

#keypad button {
  min-width: 80px;
  width: 100%;
  height: calc(var(--keypad-container-height) / 6);
  padding: 0px;
  font-size: 20px;
  background-color: #f7f7f7;
  cursor: pointer;
  margin: 0px;
}

/*#keypad button:hover {
        background-color: navy;*/ /* Navy on hover */
/*color: white;
    }*/
/* ------------------ 4th row styles ------------------- */
/*Newly 0 Button Button*/
#keypad button:nth-last-child(2) {
  grid-row: 4;
  grid-column: 2;
}

/*Back Button*/
#keypad button:last-child {
  grid-row: 4;
  grid-column: 3;
  font-size: 25px;
  line-height: 0;
}

/*----Button----*/
:root {
  --button-container-height: 46.75vh;
}

#button-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  width: 49vw;
  height: var(--button-container-height);
  margin: 6px 6px 4px -15px;
}

.clockButtons {
  line-height: 50%;
  text-align: center;
  overflow: hidden;
  margin: 0;
  border: none;
  font-size: 20px;
  height: calc(var(--button-container-height) / 5.5);
  width: 100%;
}

#bt {
  grid-row: 1;
  grid-column: 1/3;
  margin-right: 20px;
}

#ol {
  grid-row: 1;
  grid-column: 3/5;
}

#il {
  grid-row: 2;
  grid-column: 1/3;
  margin-right: 20px;
}

#et {
  grid-row: 2;
  grid-column: 3/5;
}

#mv {
  grid-row: 3;
  grid-column: 2/4; /* Span across columns 2 and 3 */
}

#cancel-container {
  grid-area: 4/1/5/2;
}

#cancel {
  background-color: red;
  color: white !important;
  font-size: 20px;
}

/*.clockButtons:hover {
    background-color: navy;*/ /* Navy on hover */
/*color: white;
}*/
#cancel:hover {
  background-color: #a90000 !important; /* Dark red on hover */
}

#confirm:hover {
  background-color: #02750c !important; /* Dark green on hover */
}

.confirm-container { /* Add a new container for the Confirm button */
  grid-area: 4/2/5/5; /* Span across columns 3 and 4 */
  display: flex;
  justify-content: flex-end;
}

#confirm {
  background-color: #00a408;
  color: white !important;
  font-size: 25px;
}

/*-----TopCodes----*/
#topCodesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 95%;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 45px;
  padding: 5px;
}

.topCodeButton {
  margin: 0;
  border: none;
  font-size: 20px;
  height: 93px;
}

.topCodesContainer button:hover {
  background-color: navy; /* Navy on hover */
  color: white;
}

/*----TACSLog----*/
#schedule-box {
  padding: 10px;
  margin: 0px 0px 0px -15px;
  text-align: center;
  color: navy;
  overflow: hidden;
  width: 49vw;
  height: 38vh;
}

#schedule-box h2 {
  font-weight: bold;
}

#schedule-box p {
  margin: 0;
  white-space: nowrap;
}

#schedule-box .row {
  background-color: #f2f2f2;
  margin: 0px 10px 5px 10px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#schedule-box .row div {
  flex-basis: 33.33%;
  padding: 5px;
}

/*First Row / Labels*/
#schedule-box #labels {
  font-weight: bold;
  text-decoration-line: underline;
  margin: 10px;
}

/*----footer----*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #11005c;
  margin-top: 6px !important;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  color: red !important;
}

.left {
  text-align: left;
}

p {
  color: navy;
}

#logo {
  border-radius: 0%;
  width: 12vw;
  height: 25px;
  margin-bottom: 15px;
  margin-top: 6px;
}

#footerDate {
  color: white;
}

#footerLabel {
  color: white;
}

/*------Header-----*/
.header {
  overflow: hidden;
  background-color: #11005c;
  margin-top: 0px !important;
  height: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: top;
  font-weight: bold;
  font-size: 2vw;
  color: white;
  margin-bottom: 6px;
  padding: 0;
}

.station {
  float: left;
}

#headerDate {
  color: white;
}

#headerLabel {
  color: white;
}
