@import url('../../content/bootstrap.css');
@import url('../../content/bootstrap-grid.css');
@import url('../../content/bootstrap-icons.css');
@import url('../../content/bootstrap-reboot.css');
@import url('../../lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css');

html, body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}
