@import url('../../lib/bootstrap/dist/css/bootstrap.css');
@import url('../../lib/bootstrap/dist/css/bootstrap-grid.css');
@import url('../../lib/bootstrap/dist/css/bootstrap-reboot.css');
@import url('../../css/bootstrap-icons.css');
@import "../../css/bootstrap-icons";
@import url('../../lib/bootstrap/dist/css/bootstrap-utilities.css');
@import url('../../lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css');

html, body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}
.col-name {
    width: 335px;
    font-size: calc(0.1em + 2.6vw);
}

.col-actual {
    width: 815px;
    font-size: calc(0.1em + 2.6vw);
}

.col-planned {
    width: 644px;
    font-size: calc(0.1em + 2.6vw);
}