@import url('../../js/bootstrap/dist/css/bootstrap.css');
@import url('../../js/bootstrap/dist/css/bootstrap-grid.css');
@import url('../../js/bootstrap/dist/css/bootstrap-reboot.css');
@import url('../../js/bootstrap/dist/css/bootstrap-utilities.css');


html, body {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

#empScheduleData {
  table-layout: fixed;
}

.modsdate {
  justify-content: flex-end;
  padding-right: 5rem;
}

.modtext {
  font-weight: bold;
}

.box {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  height: 216px;
  text-align: center;
}

.box-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.detail-title {
  font-weight: bold;
}

.detail-value {
  margin-top: 5px;
}

th.dt-center, td.dt-center {
    text-align: center;
}
.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}
.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}
.legend .tacshr {
    background-color: #ffaf7a;
}
.legend .selshr {
    background-color: #add8e6;
}
.search {
    float: right;
}
#empScheduleData .tourhrSpan {
    display: inline-block;
    width: 80px;
    text-align: center;
}
#empScheduleData .leaveSpan {
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color: #cbc3e3;
}
#empScheduleData .holoffSpan {
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color: #add8e6;
}
#empScheduleData .offSpan {
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color: #c0c0c0;
}
#empScheduleData .tacshrSpan {
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #ffaf7a;
}
#empScheduleData .selshrSpan {
    display: inline-block;
    width: 40px;
    text-align: center;
    background-color: #add8e6;
}


