@import url('../../lib/bootstrap/css/bootstrap.min.css');
@import url('../../lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css');
@import url('../../lib/bootstrap-icons/font/bootstrap-icons.min.css');

html,
body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

#sitePackagesPerformanceData,
#siteLettersPerformanceData,
#sitePerformanceData {
    table-layout: fixed;
    padding: 0px;
}

.lineChartPerf {
    height: 260px;
}