@import url("../../content/bootstrap.css");
@import url("../../content/bootstrap-grid.css");
@import url("../../content/bootstrap-icons.css");
@import url("../../content/bootstrap-reboot.css");
html, body {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

#sitePackagesPerformanceData,
#siteLettersPerformanceData,
#sitePerformanceData {
  table-layout: fixed;
  padding: 0px;
}

.lineChartPerf {
  height: 260px;
}
