@import url("../../lib/bootstrap/dist/css/bootstrap.css");
@import url("../../lib/bootstrap/dist/css/bootstrap.rtl.css");
@import url("../../lib/bootstrap/dist/css/bootstrap-grid.css");
@import url("../../lib/bootstrap/dist/css/bootstrap-reboot.css");
@import url("../../lib/bootstrap/dist/css/bootstrap-utilities.css");
@import url("../../lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css");
@import url("../../css/bootstrap-icons.css");
html, body {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

#sitePackagesPerformanceData,
#siteLettersPerformanceData,
#sitePerformanceData {
  table-layout: fixed;
  padding: 0px;
}

.lineChartPerf {
  height: 260px;
}
